@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=VT323&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bytesized&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&family=Roboto:ital,wght@0,100..900;1,100..900&family=Silkscreen:wght@400;700&family=VT323&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Style Group 1: Purple Theme with VT323 Font */
.whyWLetter,
.developerVLetter,
.improveVLetter {
  font-size: 72px;
  font-weight: bold;
  color: #af00f5;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "VT323", monospace;
}

/* Style Group 2: Red Theme with Silkscreen Font */
.whyHLetter,
.frontendRLetter,
.developerRLetter,
.improveRLetter,
.theirRLetter {
  font-size: 30px;
  font-weight: 700;
  color: #f54f4a;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Silkscreen", cursive;
}

/* Style Group 3: Light Purple Theme with Pixelify Sans Font */
.whyYLetter,
.frontendOLetter,
.developerOLetter,
.improveOLetter,
.rootOLetter,
.rootOTwoLetter {
  font-size: 60px;
  font-weight: normal;
  color: #cca8d6;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Pixelify Sans", cursive;
}

/* Style Group 4: Light Blue Theme with Press Start 2P Font */
.didDLetter,
.didDTwoLetter,
.frontendDLetter,
.developerDLetter,
.gardeningDLetter,
.wantedDLetter,
.improveMLetter,
.theirILetter,
.rootTLetter {
  font-size: 45px;
  font-weight: 700;
  color: #8ed6eb;
  text-decoration: line-through;
  text-transform: capitalize;
  font-family: "Press Start 2P", cursive;
}

/* Style Group 5: Green Theme with Bytesized Font */
.didILetter,
.frontendILetter,
.gardeningILetter,
.improveILetter {
  font-size: 55px;
  font-weight: 400;
  color: #358443;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Bytesized", cursive;
}

/* Style Group 6: Blue Theme with Roboto Font */
.theTLetter,
.theHLetter,
.theELetter,
.frontendFLetter,
.frontendTLetter,
.frontendELetter,
.frontendNTwoLetter,
.takeTLetter,
.takeELetter,
.upULetter,
.upPLetter,
.gardeningGLetter,
.gardeningALetter,
.gardeningRLetter,
.gardeningELetter,
.gardeningNLetter,
.gardeningNTwoLetter,
.gardeningGTwoLetter,
.becauseBLetter,
.becauseELetter,
.becauseCLetter,
.becauseALetter,
.becauseULetter,
.becauseSLetter,
.becauseETwoLetter,
.theyTLetter,
.theyHLetter,
.theyELetter,
.theyYLetter,
.wantedWLetter,
.wantedALetter,
.wantedNLetter,
.wantedTLetter,
.wantedELetter,
.toTLetter,
.toOLetter,
.improvePLetter,
.improveELetter,
.theirTLetter,
.theirHLetter,
.theirELetter,
.rootRLetter,
.skillsSLetter,
.skillsKLetter,
.skillsILetter,
.skillsLLetter,
.skillsLTwoLetter,
.skillsSTwoLetter {
  font-size: 40px;
  font-weight: 400;
  color: #4272b2;
  text-decoration: none;
  text-transform: lowercase;
  font-family: "Roboto", sans-serif;
}

/* Style Group 7: Bright Purple Theme with VT323 Font */
.frontendNLetter,
.developerELetter,
.developerETwoLetter,
.developerEThreeLetter,
.developerLLetter,
.developerPLetter,
.takeALetter,
.takeKLetter {
  font-size: 65px;
  font-weight: normal;
  color: #d860f5;
  text-decoration: overline;
  text-transform: uppercase;
  font-family: "VT323", monospace;
}

/* Style Group 8: Dark Purple Theme with Silkscreen Font */
.hyphen {
  font-size: 50px;
  font-weight: 700;
  color: #884bf4;
  text-decoration: line-through;
  text-transform: none;
  font-family: "Silkscreen", cursive;
}

/* Style Group 9: Orange Theme with Pixelify Sans Font */
.question-mark {
  font-size: 80px;
  font-weight: 700;
  color: #f57f3f;
  text-decoration: none;
  text-transform: none;
  font-family: "Pixelify Sans", cursive;
}

/* Style Group 10: Bright Blue Theme with Press Start 2P Font */
.exclamation-mark {
  font-size: 75px;
  font-weight: bold;
  color: #4669f5;
  text-decoration: underline;
  text-transform: none;
  font-family: "Press Start 2P", cursive;
}
