/* Color Theme Swatches in Hex */
.RansomNoteSolved_Project-1-hex { color: #AF00F5; }
.RansomNoteSolved_Project-2-hex { color: #F54F4A; }
.RansomNoteSolved_Project-3-hex { color: #CCA8D6; }
.RansomNoteSolved_Project-4-hex { color: #8ED6EB; }
.RansomNoteSolved_Project-5-hex { color: #358443; }
.RansomNoteSolved_Project-6-hex { color: #4272B2; }
.RansomNoteSolved_Project-7-hex { color: #D860F5; }
.RansomNoteSolved_Project-8-hex { color: #884BF4; }
.RansomNoteSolved_Project-9-hex { color: #F57F3F; }
.RansomNoteSolved_Project-10-hex { color: #4669F5; }

/* Color Theme Swatches in RGBA */
.RansomNoteSolved_Project-1-rgba { color: rgba(175, 0, 245, 1); }
.RansomNoteSolved_Project-2-rgba { color: rgba(245, 79, 74, 1); }
.RansomNoteSolved_Project-3-rgba { color: rgba(204, 168, 214, 1); }
.RansomNoteSolved_Project-4-rgba { color: rgba(142, 214, 235, 1); }
.RansomNoteSolved_Project-5-rgba { color: rgba(53, 132, 67, 1); }
.RansomNoteSolved_Project-6-rgba { color: rgba(66, 114, 178, 1); }
.RansomNoteSolved_Project-7-rgba { color: rgba(216, 96, 245, 1); }
.RansomNoteSolved_Project-8-rgba { color: rgba(136, 75, 244, 1); }
.RansomNoteSolved_Project-9-rgba { color: rgba(245, 127, 63, 1); }
.RansomNoteSolved_Project-10-rgba { color: rgba(70, 105, 245, 1); }

/* Color Theme Swatches in HSLA */
.RansomNoteSolved_Project-1-hsla { color: hsla(282, 100, 48, 1); }
.RansomNoteSolved_Project-2-hsla { color: hsla(1, 89, 62, 1); }
.RansomNoteSolved_Project-3-hsla { color: hsla(286, 35, 74, 1); }
.RansomNoteSolved_Project-4-hsla { color: hsla(193, 69, 73, 1); }
.RansomNoteSolved_Project-5-hsla { color: hsla(130, 42, 36, 1); }
.RansomNoteSolved_Project-6-hsla { color: hsla(214, 45, 47, 1); }
.RansomNoteSolved_Project-7-hsla { color: hsla(288, 88, 66, 1); }
.RansomNoteSolved_Project-8-hsla { color: hsla(261, 88, 62, 1); }
.RansomNoteSolved_Project-9-hsla { color: hsla(21, 90, 60, 1); }
.RansomNoteSolved_Project-10-hsla { color: hsla(228, 89, 61, 1); }
